<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This web application was build by Shah Nawaz.</p>
            <img src="/img/rob.jpg" alt="robo">
        </div>
        {{>footer}}
    </body>
</html>